.border{
  border: 1px solid black;
  width: 100%;
  height: 100px;
}
.header{
  
  padding: 0.8rem;
  width: 100%;
  height: auto;
}
.logo-container{
  width: 100%;
  height: 80px;
}
.main-container{
  width: 100%;
  min-height: 310px;
  background-image: url("/images/main.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: flex-end;
  
}
.name-container{
  width: auto;
  height: 10px;
  border-radius: 20px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  font-size: 0.6rem;
}

.mic-container{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}

.students-container{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 47% 47%;
  justify-content: center;
  padding: 20px 10px;
  column-gap: 20px;
  row-gap: 20px;
}
.students-card{
  border-radius: 20px;
  height: 180px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: flex-end;
}
.pagination-container{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container{
  border: 1px solid #00000026;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 9px;
}
.button-container{
  border: 1px solid #00000026;
  background: #FFFFFF;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
